@model System.Collections.Generic.IEnumerable<DreamSchedulerApplication.Models.Professor>

@{
    ViewBag.Title = "Professors";
}

<h2>Professors</h2>

<table class="table">

    <caption style="margin-bottom: 30px; font-weight: bold"><h3>Professor List</h3></caption>
    <tr class="success">
        <th>
            Professor Name
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {




        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)

            </td>
            <td>
                @{
        string test = @item.Name;
        string t = test.Substring(0, 3);
                }

                <!-- Button trigger modal -->

                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal-@t">
                    Show more info 
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal-@t" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="modal-body">
                                        <div>
                                            @Html.LabelFor(ModelItem => item.Name)
                                            @Html.DisplayFor(ModelItem => item.Name)
                                        </div>
                                        <div>
                                            @Html.LabelFor(ModelItem => item.Description)
                                            @Html.DisplayFor(ModelItem => item.Description)
                                        </div>
                                        <div>
                                            @Html.LabelFor(ModelItem => item.Office)
                                            @Html.DisplayFor(ModelItem => item.Office)
                                        </div>
                                        <div>
                                            @Html.LabelFor(ModelItem => item.Phone)
                                            @Html.DisplayFor(ModelItem => item.Phone)
                                        </div>
                                        <div>
                                            @Html.LabelFor(ModelItem => item.Email)
                                            <a href="mailto:@Html.DisplayFor(ModelItem => item.Email)">@Html.DisplayFor(ModelItem => item.Email)</a>
                                        </div>
                                        <div>

                                            @if (item.Website != null)
                                            {
                                                @Html.LabelFor(ModelItem => item.Website)
                                                <a href="@Html.DisplayFor(ModelItem => item.Website)">@Html.DisplayFor(ModelItem => item.Website)</a>
                                            }
                                        </div>



                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="max-height:250px; max-width:250px; margin:0; padding:0;">
                                        <br />
                                        @if (item.Image != null)
                                        {
                                            <img style="height:80%; width:80%" src="@Url.Content(String.Format("~/Content/images/professorProfile/{0}.jpg",item.Name)) ">
                                        }

                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>







<!--


    @using (Html.BeginForm("Professors", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
//@Html.AntiForgeryToken()

                  //  @Html.HiddenFor(modelItem => item.name)

                    <input type="submit" class="btn btn-primary" value="Show more info" />
                }
-->
