@model DreamSchedulerApplication.Models.AcademicRecord
@{
    ViewBag.Title = "Account";

}

<h2>Account Page</h2>



<div class ="form-horizontal"  role="form">
    @Html.AntiForgeryToken()
    <h4>Information</h4>
    <br />
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control", @readonly = "readonly"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    @{if(HttpContext.Current.User.IsInRole("admin"))
    {
        // no id and gpa
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("AccountEdit", "Manage")" class=" btn btn-primary">Edit</a>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Student.StudentID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Student.StudentID, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Student.GPA, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Student.GPA, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("AccountEdit", "Manage")" class=" btn btn-primary">Edit</a>
            </div>
        </div>
    }

    }

    
</div>



